spring:
  datasource:
    url: jdbc:postgresql://localhost:5431/null_Project
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: localhost
    port: 1025

application:
  security:
    jwt:
      secret-key: 038fa2ffaaed1d2613c42f3ed23fb661cd77e0ac8eec0b14
      expiration: 8640000
  mailing:
    frontend:
      activation-url: http://localhost:4200/activate-account

server:
  port: 8088